Mounting google drive to colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

We are extracting data from google drive

In [ ]:
import numpy as np 
import pandas as pd 
import os
# p = os.path.join("/content/drive/My Drive/IR_project")
p = os.path.join("/content/drive/My Drive/")

Saved both csv files using pandas library

In [ ]:
movies = pd.read_csv(os.path.join(p,"tmdb_5000_movies.csv"))
credits = pd.read_csv(os.path.join(p,"tmdb_5000_credits.csv"))

Describing both data

In [ ]:
movies.head(3)

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466

[3 rows x 20 columns]

In [ ]:
movies.describe()

             budget             id  ...  vote_average    vote_count
count  4.803000e+03    4803.000000  ...   4803.000000   4803.000000
mean   2.904504e+07   57165.484281  ...      6.092172    690.217989
std    4.072239e+07   88694.614033  ...      1.194612   1234.585891
min    0.000000e+00       5.000000  ...      0.000000      0.000000
25%    7.900000e+05    9014.500000  ...      5.600000     54.000000
50%    1.500000e+07   14629.000000  ...      6.200000    235.000000
75%    4.000000e+07   58610.500000  ...      6.800000    737.000000
max    3.800000e+08  459488.000000  ...     10.000000  13752.000000

[8 rows x 7 columns]

In [ ]:
credits.describe()
credits.head(1)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...

[1 rows x 4 columns]

Merging both table data set using movie id

In [ ]:
movie_details = movies.merge(credits,on='title')

In [ ]:
movie_details.head(1)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...

[1 rows x 23 columns]

In [ ]:
movie_details.describe()

             budget             id  ...    vote_count       movie_id
count  4.809000e+03    4809.000000  ...   4809.000000    4809.000000
mean   2.902780e+07   57120.571429  ...    690.331670   57120.571429
std    4.070473e+07   88653.369849  ...   1234.187111   88653.369849
min    0.000000e+00       5.000000  ...      0.000000       5.000000
25%    7.800000e+05    9012.000000  ...     54.000000    9012.000000
50%    1.500000e+07   14624.000000  ...    235.000000   14624.000000
75%    4.000000e+07   58595.000000  ...    737.000000   58595.000000
max    3.800000e+08  459488.000000  ...  13752.000000  459488.000000

[8 rows x 8 columns]

In [ ]:
for col in movie_details.columns:
    print(col,end=" | ")
print("\n\n")

budget | genres | homepage | id | keywords | original_language | original_title | overview | popularity | production_companies | production_countries | release_date | revenue | runtime | spoken_languages | status | tagline | title | vote_average | vote_count | movie_id | cast | crew |

Shortlisting most required data columns

Data set:
Genre
Id
Keywords
Title
Cast 
crew
Overview

In [ ]:
movie_details = movie_details[['movie_id','title','overview','genres','keywords','cast','crew','vote_average']]

In [ ]:
movie_details.head(1)

   movie_id  ... vote_average
0     19995  ...          7.2

[1 rows x 8 columns]

In [ ]:
movie_details.describe()

            movie_id  vote_average
count    4809.000000   4809.000000
mean    57120.571429      6.092514
std     88653.369849      1.193989
min         5.000000      0.000000
25%      9012.000000      5.600000
50%     14624.000000      6.200000
75%     58595.000000      6.800000
max    459488.000000     10.000000

In [ ]:
for col in movie_details.columns:
    print(col,end=" | ")
print("\n\n")

movie_id | title | overview | genres | keywords | cast | crew | vote_average |

Checking for any missing data

In [ ]:
movie_details.isnull().sum()

movie_id        0
title           0
overview        3
genres          0
keywords        0
cast            0
crew            0
vote_average    0
dtype: int64

Found 3 missing data

Removing those data with None

In [ ]:
movie_details.dropna(inplace=True)

In [ ]:
movie_details.isnull().sum()

movie_id        0
title           0
overview        0
genres          0
keywords        0
cast            0
crew            0
vote_average    0
dtype: int64

Working over genres coloumn

In [ ]:
movie_details.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

Function to bring all names together

In [ ]:
def process(obj):
    li=[]
    for i in ast.literal_eval(obj):
        li.append(i['name'])
    return li

In [ ]:
import ast
print(process(movie_details.iloc[0].genres))

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [ ]:
movie_details['genres']=movie_details['genres'].apply(process)

In [ ]:
movie_details.iloc[0].genres

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

Doing same with keywords

In [ ]:
movie_details.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [ ]:
movie_details['keywords']=movie_details['keywords'].apply(process)

In [ ]:
movie_details.iloc[0].keywords

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [ ]:
def processtop3(obj):
    li=[]
    counter = 0
    for i in ast.literal_eval(obj):
        counter+=1
        if counter == 4:
            break
        li.append(i['name'])
    return li

In [ ]:
movie_details.iloc[0].cast

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [ ]:
movie_details['cast']=movie_details['cast'].apply(processtop3)

In [ ]:
movie_details.iloc[0].cast

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [ ]:
def director_details(obj):
    li=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            li.append(i['name'])
            break
    return li

In [ ]:
movie_details.iloc[0].crew

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [ ]:
movie_details['crew']=movie_details['crew'].apply(director_details)

In [ ]:
movie_details.iloc[0].crew

['James Cameron']

In [ ]:
movie_details.iloc[0].overview

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [ ]:
movie_details['overview']=movie_details['overview'].apply(lambda x:[i.strip() for i in x.split()])

In [ ]:
movie_details.iloc[0].overview

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [ ]:
movie_details['genres'].apply(lambda x:[i.replace(" ","").lower() for i in x])
movie_details['crew'].apply(lambda x:[i.replace(" ","").lower() for i in x])
movie_details['overview'].apply(lambda x:[i.replace(" ","").lower() for i in x])
movie_details['keywords'].apply(lambda x:[i.replace(" ","").lower() for i in x])

0       [cultureclash, future, spacewar, spacecolony, ...
1       [ocean, drugabuse, exoticisland, eastindiatrad...
2       [spy, basedonnovel, secretagent, sequel, mi6, ...
3       [dccomics, crimefighter, terrorist, secretiden...
4       [basedonnovel, mars, medallion, spacetravel, p...
                              ...
4804    [unitedstatesâ€“mexicobarrier, legs, arms, paper...
4805                                                   []
4806    [date, loveatfirstsight, narration, investigat...
4807                                                   []
4808             [obsession, camcorder, crush, dreamgirl]
Name: keywords, Length: 4806, dtype: object

In [ ]:
movie_details['tags'] = movie_details['overview'] + movie_details['genres'] + movie_details['keywords'] + movie_details['cast'] + movie_details['crew']

In [ ]:
proccessed_data = movie_details[['movie_id','title', 'tags','genres','vote_average']]

In [ ]:
proccessed_data.head(1)

   movie_id  ... vote_average
0     19995  ...          7.2

[1 rows x 5 columns]

In [ ]:
proccessed_data['tags']=proccessed_data['tags'].apply(lambda x:" ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
proccessed_data.head(1)

   movie_id  ... vote_average
0     19995  ...          7.2

[1 rows x 5 columns]

In [ ]:
vowels = ['a','e','i','o','u']

def vowel_finder(word):
  for i in range(len(word)):
    if word[i] in vowels or (i > 0 and word[i]=='y' and word[i-1] not in vowels):
      return True
  return False

In [ ]:
def double_consonant(word):
  if len(word) < 2:
    return False
  if word[0] == word[1]:
    if word[0] not in vowels:
      return True
  return False

In [ ]:
def in_cvc_format(word):
  if len(word) == 3:
    if (word[0] not in vowels) and word[1] in vowels and (word[2] not in vowels and word[2] not in ['w','x','y']):
      return True
  elif len(word)==4:
    if (word[1] not in vowels) or (word [1] == 'y' and word[0] in vowels):
          if word[2] in vowels and (word[3] not in vowels and word[3] not in ['w','x','y']):
            return True
  return False

In [ ]:
def m_finder(word):
  m = 0
  if len(word) < 2:
    return m
  for i in range(1,len(word)):
    v = word[i-1]
    c = word[i]
    if (v in vowels) and (c not in vowels) or (v not in vowels and v != 'y') and (c == 'y'):
      m += 1
  return m

In [ ]:
def word_stemmer(word):
  #steps

  #step 1
    #1a
  if word[-4:] == 'sses':
    word = word[:-4]+'ss'
  elif word[-3:] == 'ies':
    word = word[:-3]+'i'
  elif word[-2:] == 'ss':
    pass
  elif word[-1:] == 's':
    word = word[:-1]
    #1b
  is_b1 = False
  if word[-3:] == 'eed' and m_finder(word[:-3]) > 0:
    word = word[:-3]+'ee'
    is_b1 = True
  elif vowel_finder(word[:-2]) and word[-2:] == 'ed':
    word = word[:-2]
    is_b1 = True
  elif vowel_finder(word[:-3]) and word[-3:] == 'ing':
    word = word[:-3]
    is_b1 = True
      #cleanup (only if 1b is applied)
  if is_b1 == True:
    if word[-2:] == 'at':
      word = word[:-2]+'ate'
    elif word[-2:] == 'bl':
      word = word[:-2]+'ble'
    elif double_consonant(word[-2:]) and word[-1] not in ['l','s','z']:
      word = word[:-1]
    elif len(word) > 3 and in_cvc_format(word[-4:]) and m_finder(word)==1:
      word = word + 'e'
    #1c
  if vowel_finder(word[:-1]) and word[-1] == 'y':
    word = word[:-1]+'i'
  
  #step 2
  if len(word) > 7 and word[-7:] == 'ational' and m_finder(word[:-7]) > 0:
    word = word[:-7]+'ate'
  elif len(word) > 7 and word[-7:] == 'ization' and m_finder(word[:-7]) > 0:
    word = word[:-7]+'ize'
  elif len(word) > 7 and word[-7:] == 'iveness' and m_finder(word[:-7]) > 0:
    word = word[:-7]+'ive'
  elif len(word) > 7 and word[-7:] == 'fulness' and m_finder(word[:-7]) > 0:
    word = word[:-7]+'ful'
  elif len(word) > 7 and word[-7:] == 'ousness' and m_finder(word[:-7]) > 0:
    word = word[:-7]+'ous'
  elif len(word) > 6 and word[-6:] == 'biliti' and m_finder(word[:-6]) > 0:
    word = word[:-6]+'ble'
  elif len(word) > 6 and word[-6:] == 'tional' and m_finder(word[:-6]) > 0:
    word = word[:-6]+'tion'
  elif len(word) > 5 and word[-5:] == 'entli' and m_finder(word[:-5]) > 0:
    word = word[:-5]+'ent'
  elif len(word) > 5 and word[-5:] == 'ousli' and m_finder(word[:-5]) > 0:
    word = word[:-5]+'ous'
  elif len(word) > 5 and word[-5:] == 'ation' and m_finder(word[:-5]) > 0:
    word = word[:-5]+'ate'
  elif len(word) > 5 and word[-5:] == 'alism' and m_finder(word[:-5]) > 0:
    word = word[:-5]+'al'
  elif len(word) > 5 and word[-5:] == 'aliti' and m_finder(word[:-5]) > 0:
    word = word[:-5]+'el'
  elif len(word) > 5 and word[-5:] == 'iviti' and m_finder(word[:-5]) > 0:
    word = word[:-5]+'ive'
  elif len(word) > 4 and word[-4:] == 'enci' and m_finder(word[:-4]) > 0:
    word = word[:-4]+'ence'
  elif len(word) > 4 and word[-4:] == 'anvi' and m_finder(word[:-4]) > 0:
    word = word[:-4]+'ance'
  elif len(word) > 4 and word[-4:] == 'izer' and m_finder(word[:-4]) > 0:
    word = word[:-4]+'ize'
  elif len(word) > 4 and word[-4:] == 'ator' and m_finder(word[:-4]) > 0:
    word = word[:-4]+'ate'
  elif len(word) > 4 and word[-4:] == 'abli' and m_finder(word[:-4]) > 0:
    word = word[:-4]+'able'
  elif len(word) > 4 and word[-4:] == 'alli' and m_finder(word[:-4]) > 0:
    word = word[:-4]+'al'
  elif len(word) > 3 and word[-3:] == 'eli' and m_finder(word[:-3]) > 0:
    word = word[:-4]+'e'

  #step 3
  if len(word) > 5 and word[-5:] == 'icate' and m_finder(word[:-5]) > 0 :
    word = word[:-5]+'ic'
  elif len(word) > 5 and word[-5:] == 'ative' and m_finder(word[:-5]) > 0:
    word = word[:-5]
  elif len(word) > 5 and word[-5:] == 'alize' and m_finder(word[:-5]) > 0:
    word = word[:-5]+'al'
  elif len(word) > 5 and word[-5:] == 'iciti' and m_finder(word[:-5]) > 0:
    word = word[:-5]+'ic'
  elif len(word) > 4 and word[-4:] == 'ical' and m_finder(word[:-4]) > 0:
    word = word[:-4]+'ic'
  elif len(word) > 4 and word[-4:] == 'ness' and m_finder(word[:-4]) > 0:
    word = word[:-4]
  elif len(word) > 3 and word[-3:] == 'ful' and m_finder(word[:-3]) > 0:
      word = word[:-3]
  
  #step 4
  if len(word) > 5 and word[-5:] == 'ement'  and m_finder(word[:-5]) > 1:
    word = word[:-5]
  elif len(word) > 4 and word[-4:] == 'ance' and m_finder(word[:-4]) > 1:
    word = word[:-4]
  elif len(word) > 4 and word[-4:] == 'ence' and m_finder(word[:-4]) > 1:
    word = word[:-4]
  elif len(word) > 4 and word[-4:] == 'able' and m_finder(word[:-4]) > 1:
    word = word[:-4]
  elif len(word) > 4 and word[-4:] == 'ible' and m_finder(word[:-4]) > 1:
    word = word[:-4]
  elif len(word) > 4 and word[-4:] == 'ment' and m_finder(word[:-4]) > 1:
    word = word[:-4]
  elif len(word) > 4 and (word[-4:] == 'sion' or word[-4:] == 'tion') and m_finder(word[:-4]) > 1:
    word = word[:-4]
  elif len(word) > 3 and word[-3:] == 'ent' and m_finder(word[:-3]) > 1:
    word = word[:-3]
  elif len(word) > 3 and word[-3:] == 'ive' and m_finder(word[:-3]) > 1:
    word = word[:-3]
  elif len(word) > 3 and word[-3:] == 'ant' and m_finder(word[:-3]) > 1:
    word = word[:-3]
  elif len(word) > 3 and word[-3:] == 'ism' and m_finder(word[:-3]) > 1:
    word = word[:-3]
  elif len(word) > 3 and word[-3:] == 'ate' and m_finder(word[:-3]) > 1:
    word = word[:-3]
  elif len(word) > 3 and word[-3:] == 'iti' and m_finder(word[:-3]) > 1:
    word = word[:-3]
  elif len(word) > 3 and word[-3:] == 'ous' and m_finder(word[:-3]) > 1:
    word = word[:-3]
  elif len(word) > 3 and word[-3:] == 'ize' and m_finder(word[:-3]) > 1:
    word = word[:-3]
  elif len(word) > 2 and word[-2:] == 'al' and m_finder(word[:-2]) > 1:
    word = word[:-2]
  elif len(word) > 2 and word[-2:] == 'er' and m_finder(word[:-2]) > 1:
    word = word[:-2]
  elif len(word) > 2 and word[-2:] == 'ic' and m_finder(word[:-2]) > 1:
    word = word[:-2]
  elif len(word) > 2 and word[-2:] == 'ou' and m_finder(word[:-2]) > 1:
    word = word[:-2]

  
  #step 5
    #5a
  if word[-1] == 'e' and m_finder(word[:-1]) > 1:
    word = word[:-1]
  elif len(word) > 4 and not (in_cvc_format(word[-4:])) and word[-1:]=='e' and m_finder(word[:-1])==1:
    word = word[:-1]
   #5b
  if len(word) > 2 and double_consonant(word[-2:]) and word[-1] == 'l' and m_finder(word) > 1:
    word = word[:-1]

  return word

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
proccessed_data['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bondâ€™s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [ ]:
StopWords = stopwords.words('english');

lis = []

for i in proccessed_data['tags']:
  tempLis = []
  for word in i.split():
    if word not in StopWords:
      word = word_stemmer(word)
      tempLis.append(word)
  lis.append(tempLis)

lis[0:2]

[['In',
  '22nd',
  'century,',
  'parapleg',
  'Marin',
  'dispatch',
  'moon',
  'Pandora',
  'uniqu',
  'mission,',
  'becom',
  'torn',
  'follow',
  'order',
  'protect',
  'alien',
  'civilization.',
  'Action',
  'Adventur',
  'Fantasi',
  'Scienc',
  'Fiction',
  'cultur',
  'clash',
  'futur',
  'spac',
  'war',
  'spac',
  'coloni',
  'societi',
  'spac',
  'travel',
  'futurist',
  'romanc',
  'spac',
  'alien',
  'trib',
  'alien',
  'planet',
  'cgi',
  'marin',
  'soldier',
  'battl',
  'love',
  'affair',
  'anti',
  'war',
  'power',
  'relat',
  'mind',
  'soul',
  '3d',
  'Sam',
  'Worthington',
  'Zoe',
  'Saldana',
  'Sigournei',
  'Weaver',
  'Jame',
  'Cameron'],
 ['Captain',
  'Barbossa,',
  'long',
  'believ',
  'dead,',
  'come',
  'back',
  'life',
  'head',
  'edge',
  'Earth',
  'Will',
  'Turner',
  'Elizabeth',
  'Swann.',
  'But',
  'noth',
  'quit',
  'seems.',
  'Adventur',
  'Fantasi',
  'Action',
  'ocean',
  'drug',
  'abus',
  'exot',
  'island',
  'east',
  'india',
  'trad',
  'compani',
  'love',
  "one'",
  'life',
  'traitor',
  'shipwreck',
  'strong',
  'woman',
  'ship',
  'allianc',
  'calypso',
  'afterlif',
  'fighter',
  'pirat',
  'swashbuckl',
  'aftercreditssting',
  'Johnni',
  'Depp',
  'Orlando',
  'Bloom',
  'Keira',
  'Knightlei',
  'Gore',
  'Verbinski']]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer()
TfidfMatrix = tf.fit_transform(proccessed_data['tags'])
pd.DataFrame(TfidfMatrix.toarray(),columns = tf.get_feature_names_out()).head()

    00  000  007  07am   10  100  ...   Î³Î·  ÑÐ½Ð¸Ð³Ð¸Ñ€ÑŒ  ÑŽÐ»Ð¸Ñ  å§åº•è‚¥å¦ˆ  ç»åœ°å¥¶éœ¸  è¶…çº§å¦ˆå¦ˆ
0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0      0.0   0.0   0.0   0.0   0.0
1  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0      0.0   0.0   0.0   0.0   0.0
2  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0      0.0   0.0   0.0   0.0   0.0
3  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0      0.0   0.0   0.0   0.0   0.0
4  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0      0.0   0.0   0.0   0.0   0.0

[5 rows x 28668 columns]

In [ ]:
tf.vocabulary_

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(TfidfMatrix)

In [ ]:
df = pd.DataFrame(similarity)
df.head()

       0         1         2     ...      4803      4804      4805
0  1.000000  0.031216  0.026818  ...  0.023070  0.032855  0.006009
1  0.031216  1.000000  0.028551  ...  0.031901  0.019968  0.013039
2  0.026818  0.028551  1.000000  ...  0.027062  0.058665  0.011492
3  0.022292  0.029965  0.037284  ...  0.044972  0.042465  0.021974
4  0.185102  0.054898  0.030853  ...  0.030938  0.029547  0.016976

[5 rows x 4806 columns]

In [ ]:
proccessed_data.head()

   movie_id  ... vote_average
0     19995  ...          7.2
1       285  ...          6.9
2    206647  ...          6.3
3     49026  ...          7.6
4     49529  ...          6.1

[5 rows x 5 columns]

In [ ]:
def recommend(movie):
  index = proccessed_data[proccessed_data['title'] == movie].index[0]
  vector = similarity[index]
  tempList = sorted(list(enumerate(vector)),reverse=True,key=lambda x:x[1])
  movies = []
  for i in tempList[1:6]:
    movies.append(proccessed_data.iloc[i[0]].title)
  print(movies)
  print("Enter the movie numbers that you think are relevant starting from 1")
  li =[int(x) for x in input().split()]
  mov_r=tempList[0][0]
  for i in range(1,6):
    if i not in li:
      val = tempList[i][0]
      similarity[mov_r][val] = similarity[mov_r][val]/2
      

  # return movies

In [ ]:
recommend('Avatar')

['Aliens', 'AlienÂ³', 'Moonraker', 'Mission to Mars', 'Alien']
Enter the movie numbers that you think are relevant starting from 1
2 3

In [ ]:
def recommend_type(gen):
    print("Hello")
    # index = proccessed_data[gen in proccessed_data['genres']]
    # index = proccessed_data.loc[proccessed_data.apply(lambda x: any(gen in x for gen in proccessed_data['genres']))]
    temp_data = proccessed_data[proccessed_data['genres'] ]
    print(temp_data)
  # return movies

In [ ]:
proccessed_data['genres']
# recommend_type('action')
# restaurant = businesses.loc[businesses.apply(lambda x: any(restaurant_str in x for restaurant_str in restaurant_lst))]

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [ ]:
def get_list(series):
    li=[]
    for i in series:
        li.append(i)
    return li

In [ ]:
# proccessed_data['Action' in  proccessed_data['genres']]
# proccessed_data[proccessed_data['title'] == 'Avatar']
# type(proccessed_data)
# for i in proccessed_data.ite_rows():
#     print(i)
# req_data = [sel for sel in proccessed_data if 'Action' in get_list(sel['genres'])]
# print(req_data)
# for i in proccessed_data:
#     print(i)

In [ ]:
def my_func(e):
    return e['vote_average']

In [ ]:
temp_list=[]
print('Enter cateogries')
cat = input()
for e,i in enumerate(proccessed_data['genres']):
    if cat in i:
        temp_list.append(proccessed_data.iloc[e,:])
temp_list.sort(key = my_func, reverse = True)
print(temp_list[0:5])

Enter cateogries
Action
[movie_id                                                    69848
title                                              One Man's Hero
tags            One Man's Hero tells the little-known story of...
genres                          [Western, Action, Drama, History]
vote_average                                                  9.3
Name: 2392, dtype: object, movie_id                                                      155
title                                             The Dark Knight
tags            Batman raises the stakes in his war on crime. ...
genres                           [Drama, Action, Crime, Thriller]
vote_average                                                  8.2
Name: 65, dtype: object, movie_id                                                     1891
title                                     The Empire Strikes Back
tags            The epic saga continues as Luke Skywalker, in ...
genres                       [Adventure, Action, Science Fiction]
vote_average                                                  8.2
Name: 1996, dtype: object, movie_id                                                      346
title                                               Seven Samurai
tags            A samurai answers a village's request for prot...
genres                                            [Action, Drama]
vote_average                                                  8.2
Name: 4541, dtype: object, movie_id                                                    27205
title                                                   Inception
tags            Cobb, a skilled thief who commits corporate es...
genres          [Action, Thriller, Science Fiction, Mystery, A...
vote_average                                                  8.1
Name: 96, dtype: object]

In [ ]:
postings = pd.DataFrame()
frequency = pd.DataFrame()
doc = 0

for i in proccessed_data['tags'][0:1000]:
  tokens = i.split()
  pos = 0
  for token in tokens:
    if token in postings:
      p = postings[token][0]
      k = [a[0] for a in p]
      if doc in k:
        for a in p:
          if a[0] == doc:
            a[1].add(pos)
      else:
        p.append([doc,{pos}])
        frequency[token][0] += 1
    else:
      postings.insert(value=[[[doc, {pos}]]], loc=0, column=token)
      frequency.insert(value=[1], loc=0, column=token)
    pos+=1
  doc+=1

In [ ]:
postings

           rhino  ...                                                 In
0  [[999, {53}]]  ...  [[0, {0}], [24, {0}], [30, {38}], [55, {47}], ...

[1 rows x 17011 columns]

In [ ]:
def get_word_postings(word):
    print("Frequency:",frequency[word][0])
    print("Postings List:",postings[word][0])

In [ ]:
def get_positions(posting_values, doc):
    for posting_value in posting_values:
        if posting_value[0] == doc:
            return posting_value[1]
    return {}

In [ ]:
def gen_init_set_matchings(word):
    init = []
    word_postings = postings[word][0]
    for word_posting in word_postings:
        for positions in word_posting[1]:
            init.append((word_posting[0], positions))
    return init

In [ ]:
def match_positional_index(init, b):
    matched_docs = []
    for p in init:
        doc = p[0]
        pos = p[1]

        count = 0

        for k in b:
            pos = pos+1
            k_pos = postings[k][0]
            docs_list = [z[0] for z in k_pos]
            if doc in docs_list:
                doc_positions = get_positions(k_pos, doc)
                if pos in doc_positions:
                    count += 1
                else:
                    count += 1
                    break

            if count == len(b):
                matched_docs.append(p[0])
    return set(matched_docs)

In [ ]:
def run_query(query):
    query_tokens = query.split()
    print(query_tokens)
    
    if len(query_tokens)==1:
        print("Total Document Mathces", [a[0] for a in postings[query][0]])
        return [a[0] for a in postings[query][0]]
    
    init_word = query_tokens[0]
    init_matches = gen_init_set_matchings(init_word)

    query_tokens.pop(0)
    total_matched_docs = match_positional_index(init_matches, query_tokens)
    print("Total Document Matches:", total_matched_docs)
    return total_matched_docs

In [ ]:
get_word_postings("Jack")

Frequency: 39
Postings List: [[12, {1}], [17, {1, 52}], [24, {57}], [25, {71}], [48, {50}], [54, {34}], [89, {150}], [137, {133}], [152, {48}], [155, {69}], [181, {92}], [199, {0}], [212, {31}], [228, {0}], [251, {32}], [284, {66}], [337, {27, 23}], [351, {75}], [353, {110}], [357, {21}], [395, {33}], [403, {10}], [438, {62}], [473, {75}], [499, {0}], [584, {19}], [642, {38}], [656, {33}], [677, {2}], [688, {3}], [710, {63}], [716, {25, 12}], [717, {36}], [737, {0}], [748, {39}], [791, {45}], [811, {26}], [904, {76}], [943, {4, 29}]]

In [ ]:
get_word_postings("Sparrow")

Frequency: 3
Postings List: [[12, {2}], [17, {2}], [199, {31}]]

In [ ]:
query = "Jack Sparrow"

In [ ]:
lists = run_query(query)

['Jack', 'Sparrow']
Total Document Matches: {17, 12}

In [ ]:
for i in lists:
  print(proccessed_data.iloc[i].title)

Pirates of the Caribbean: On Stranger Tides
Pirates of the Caribbean: Dead Man's Chest